#weather_dispatch {
    display: flex;
    width: 100%;
    height: 15%;
    background-color: white;
    padding: 5%;
}


p {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    
}


#weather_dispatch th{
    padding-top: 3%;
}


#weather_dispatch_minutes {
    display: flex;
    width: 100%;
    height: 15%;
    background-color: white;
    padding: 5%;
}